@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%); 
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
    --paragraph: 16px;
}

body{
    background-color: var(--stone-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    font-family: 'Outfit', sans-serif;
    font-size: var(--paragraph);
    color: var(--stone-600);
}

img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 30px;
}

main {
    background-color: var(--white);
    max-width: 730px;
    border-radius: 20px;
    padding: 45px;
}

h1, h2{
    font-family: 'Young Serif', serif;
}

h1 {
    color: var(--stone-900);
}

h2{
    color: var(--brown-800);
    font-weight: 400;
}

ul,
ol {
    color: var(--stone-600);
    padding: 0 15px;
}

li{
    padding: 5px 15px;
}

li::marker {
    color: var(--brown-800);
    font-weight: bold;
}


section {
    margin-top: 30px;
}

.preparation{
    background-color: var(--rose-50);
    padding: 25px;
    border-radius: 15px;
}
/*hello!*/
.preparation h2{
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1px;
    color: var(--rose-800);

}

hr{
    border: none;
    border-top: 1px solid var(--stone-150);
    margin: 36px 0;
}
.preparation li::marker{
    color: var(--rose-800);
}

section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;

}

tr{
    border-bottom: 1px solid;
    color: var(--stone-150);
}

tr:last-child{
    border: none;
}

th{
    text-align: start;
}

th, td{
    padding: 15px;
    color: var(--stone-900);
}

td{
    color: var(--brown-800);
}